# Python artifacts
__pycache__/
*.py[cod]
*.pkl
*.joblib

# Jupyter
.ipynb_checkpoints

# Env
env/
venv/
*.env
*.venv

# IDEs
.vscode/
.idea/

# Logs
*.log
logs/

# OS files
.DS_Store

# data
data/
!src/data/
# thrash
thrash/
